body{
    background-color: #34333F;
}
.navbor {
    width: 100%;
    height: 60px;
    background-color: chocolate;
    list-style-type: none;
    text-decoration: none;
}
.navbor a{
    text-decoration: none;
    color: black;
    text-transform: uppercase;
}
.list{
    width: 916px;
    height: 550px;
    list-style-type: none;
}
.item{
    background-color: chocolate;
    text-align: center;
}